@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%;margin:auto">
    @if(Model!=null && Model.cartDetails!=null && Model.cartDetails.Count>0)
    {
    <h3>My Cart</h3>
    <table class="table table-borderd">
        <tr>
            <th>Book</th>
            <th>Image</th>
			<th>Genre</th>
			<th>Unit Price (INR)</th>
			<th>Qty</th>
			<th>Total Price</th>
        </tr>
        @foreach(var item in Model.cartDetails)
        {
            <tr>
                <td>@item.Book.BookName</td>
			<td>
                @if(string.IsNullOrEmpty(item.Book.ImageUrl))
                {
                    <img src="/images/img.jpg" style="width:100px;height:100px;object-fit:cover"/>
                }
                else
                {
                    <img src="@item.Book.ImageUrl" style="width:100px;height:100px;object-fit:cover"/>
						}
		)
            </td>
					<td>@item.Book.Genre.GenreName</td>
					<td>@item.Book.Price X @item.Quantity</td>
					<td>@(item.Book.Price* item.Quantity) INR</td>
                    <td>
                        <a class="btn btn-info" href="/Cart/AddItem?bookId=@item.BookId&&redirect=1">+</a>
						<a class="btn btn-danger" href="/Cart/removeitem?bookid=@item.BookId">-</a>
                    </td>
                </tr>
        }
    </table>

    <div class="my-2">
			<h5>Total(INR) : </h5>
            @(Model.cartDetails.Select(item => item.Book.Price * item.Quantity).Sum()))
    </div>

        <div class="my-2">
			<a href="#" class="btn btn-success">Checkout</a>
        </div>

    }
    else{
        <h5> Cart is empty</h5>
    }

</div>

